/*
	dark/styles/colors.css
*/

.fhqbody
{
	background-color: #303030;
	color: #C8C8C8;
}

.fhq_index_column {
	background-color: #3E3E3E;
	color: #C8C8C8;
}

.button3 {
	background: #303030;
	color: #C8C8C8;
	background: #383838;
}

.fhqbtn {
	background: #303030;
	color: #C8C8C8;
	background: #383838;
}

.fhqparamtbl_param {
    background-color: #3b3b3b;
    color: #C8C8C8;
}

.fhqparamtbl_value {
    background-color: #4f4f4f;
    color: #C8C8C8;
}


/* menu */
.fhq_btn_menu {
	background-color: #303030;
}

.fhq_btn_menu:hover {
	background: #606060;
	color: #C8C8C8;
}

.fhq_btn_menu_splitter {
	background-color: #303030;
}

.fhq_btn_menu_img {
}

.fhq_btn_menu_user_panel {
	background-color: #303030;
}

.fhqtopmenu:hover {
    background-color: #3e3e3e;
} 

.fhqleftmenu {
	background: #3e3e3e;
}

.fhqtopmenu_rightpanel {
	background: #3e3e3e;
}

.fhqtopmenu_leftpanel {
	background: #3e3e3e;
}

/* modal dialog */

.overlay {
	background: rgba(0, 0, 0, 0.8);
}

.overlay_content {
	color: #C8C8C8;
	background-color: #303030;
	border-color: #3e3e3e;
}

.fhqmodaldialog_content {
	color: #C8C8C8;
	background-color: #303030;
	border-color: #3e3e3e;
}

/* tables */

#customers th {
    background-color: #3e3e3e;
    color: #C8C8C8;
}

#customers td, #customers th {
    border-color: #000;
}

#customers {
    border-collapse: collapse;
}

#customers tr.alt td {
    color: #C8C8C8;
    background-color: #3e3e3e;
}

input[type="text"], input[type="password"], select, textarea {
  background-color: #9f9f9f;
  color: #010101;
}

.hint--bottom:before {
    border-bottom-color: #6f3f3f;
}

.hint:after, [data-hint]:after {
    background-color: #6f3f3f;
    color: #C8C8C8;
    border-color: #6f3f3f;
}

hr {
	background-color: #6f3f3f;
	border-color: #6f3f3f;
}

pre {
    background-color: #4f3f3f;
    border: 1px solid rgba(0, 0, 0, 0.15);
}
code, pre {
    color: #C8C8C8;
}

.fhq_task_filters {
    background-color: #3E3E3E;
    color: #C8C8C8;
}

.fhq_quest_info {
    background-color: #494949;
    color: #C8C8C8;
}

.fhq_quest_info:hover{
	background-color: #4f4f4f;
}

.fhq_task_info {
    background-color: #494949;
    color: #C8C8C8;
}

.fhq_task_info:hover{
	background-color: #4f4f4f;
}

font.fhq_task {
    color: #C8C8C8;
}


.quest_info_row_admin {
    background-color: #494949;
}

.fhq_scoreboard_row {
	color: #C8C8C8;
}

.users_cell {
	color: #C8C8C8;
	background-color: #494949;
}

.selected_user_page {
	color: #C8C8C8;
	background-color: #494949;
}

.fhq_event_info {
    background-color: #494949;
    color: #C8C8C8;
}
