/* will be deprecated */

.fhqmiddelouter {
	display: inline-block;
	position:relative;
}
 
.fhqmiddelinner {
	vertical-align: middle;
}
                   
.fhqinfo {
	display: inline-block;
	margin: 10px;
	vertical-align: top;
}

.fhqparamtbl {
	display: table;
}

.fhqparamtbl_row {
	display: table-row;
	padding: 3px;
	text-decoration: none;
	color: #000000;
	margin:3px 3px 3px 3px;
}

.fhqparamtbl_rowskip {
	display: table-row;
	background: inherit;
	height: 10px;
}

.fhqparamtbl_param {
	display: table-cell;
	padding: 8px 20px 8px 20px;
	background: #cccccc;
	text-align: right;
}

.fhqparamtbl_value {
	display: table-cell;
	background: #e4e4e4;
	padding:8px 20px 8px 20px;
}

textarea {
	width: 550px;
	height: 150px;
	padding: 4px 6px;
	margin-bottom: 0px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	vertical-align: middle;
}

.fhqredcircle {
	display: block-inline;
	position: absolute;
	right: 10%;
	top: -15%;
	border-radius: 25px;
	z-index: 10;
	padding: 5px;
	font-size: 12px;
	background: #9f9f9f;
	color: black;
}

.fhqtable {
	display: table;
	width: 90%;
}

.fhqrow {
	display: table-row;
	padding: 3px;
	text-decoration: none;
	margin: 3px 3px 3px 3px;
}

.fhqrow_yellow {
	background-color: #FFFFCC;
	opacity: 0.5;
	color: black;
}

.fhqrow_red {
	background-color: #FF6666;
	opacity: 0.5;
	color: black;
}

.fhqcell {
	width: 20%;
	display: table-cell;
	padding: 5px 5px 5px 5px;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #9f9f9f;
}


.fhqtopmenu_leftpanel {
	padding: 10px 10px 10px 10px;
	background: #e4e4e4;
	position: fixed;
	display: inline-block;
	left: 0px;
	-webkit-border-bottom-right-radius: 15px;
	-moz-border-radius-bottomright: 15px;
	border-bottom-right-radius: 15px;
	opacity: 0.95;
	z-index: 555;
}

.fhqtopmenu_rightpanel {
	padding: 10px 10px 10px 10px;
	background: #e4e4e4;
	position: fixed;
	display: inline-block;
	right: 0px;
	-webkit-border-bottom-left-radius: 15px;
	-moz-border-radius-bottomleft: 15px;
	border-bottom-left-radius: 15px;
	opacity: 0.95;
	z-index: 555;
}

.fhqleftmenu {
	background: #e4e4e4;
	padding: 10px 10px 10px 10px;
	position: fixed;
	width: 65px;
	top: 86px;
	text-align: left;
	z-index: 556;
	-webkit-border-bottom-right-radius: 15px;
	-moz-border-radius-bottomright: 15px;
	border-bottom-right-radius: 15px;
	opacity: 0.95;
}

.fhqrules {
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
	line-height: 1.5;
	font-size: 12pt;
}

.fhquser_table {
	padding: 10px 10px 10px 10px;
	display: table;
}

.fhquser_row {
	display: table-row;
}

.fhquser_row_skip {
	display: table-row;
	height: 10px;
}

.fhquser_logo {
	font-size: 12pt;
	display: inline-block;
	margin: 0px 0px 0px 0px;
	float: left;
}

.fhquser_info {
	font-size: 12pt;
	display: inline-block;
	margin: 0px 0px 0px 0px;
}

.fhquser_nick {
	font-size: 14pt;
	display: inline-block;
	margin: 5px 5px 5px 0px;
}

.fhquser_county {
	font-size: 11pt;
	display: inline-block;
	margin: 0px 0px 0px 10px;
	display: inline-block;
}


