
.fhq_game_img {
	width: 50px;
	height: 50px;
	float: left;
	vertical-align: middle;
	margin-right: 10px;
	
}

.fhq_game_line {
	display: block;
	vertical-align: middle;
	padding: 10px;
	/*background-color: #fff000;*/
	text-align: left;
	/*white-space: pre;*/	
	border-bottom: 1px solid #CCC;
	font-family: monospace;
	cursor: pointer;
}

.fhq_game_line:hover {
	background-color: #CCC;
}

.fhq_game_text {
	display: block-inline;
	white-space: nowrap;
	font-family: arial;
	margin-left: 10px;
	color: #606060;
}

.fhq_scoreboard_table {
	display: display: table;
	margin: 10px;
	vertical-align: top;
}

.fhq_scoreboard_table {
	display: display: table;
	margin: 10px;
	vertical-align: top;
}

.fhq_scoreboard_row {
	display: table-row;
	font-family: Arial;
	padding: 10px;
	text-decoration: none;
	color: #000000;
	margin:3px 3px 3px 3px;
	border-bottom: 1px solid #E4E4E4;
}

.fhq_scoreboard_cell {
	display: table-cell;
	padding: 10px;
	margin: 10px;
	text-align: left;
	border-left: 1px solid #E4E4E4;
}
