
.fhq_btn_menu {
	padding: 5px;
	display: inline-block;
	transition: all 1s ease 0s;
	cursor: pointer;
	text-align: center;
	min-height: 49px;
	background-color: #ffffff;
	border-radius: 10px;
	margin-bottom: 5px;
	padding: 5px;
	vertical-align:middle;
}

.fhq_btn_menu:hover {
	background: #606060;
	color: #fff;
}

.fhq_btn_menu_color_none {
	background-color: inherit;
}

.fhq_btn_menu_color_none:hover {
	background: inherit;
}

.fhq_btn_menu_img {
	display: inline-block;
	vertical-align: middle;
	white-space: nowrap;
	height: 51px;
}

.fhq_btn_menu_user_panel {
	position: relative;
	float: right;
	padding: 5px;
	text-align: center;
	display: inline-block;
	transition: all 1s ease 0s;
	cursor: pointer;
	font: 12pt sans-serif;
	background-color: #ffffff;
	border-radius: 10px;
}
