/*
  base/styles/colors.css
  do nothing
*/

.fhq_quest_info {
	display: inline-table;
	/* border: 1px solid black;*/
	border-radius: 10px;
	margin: 12px;
	font-family: arial;
	padding: 10px;
	text-align: center;
	min-width: 200px;
	background-color: #eee;
	cursor: pointer;
	opacity: 0.95;
}

.fhq_quest_info:hover{
	background-color: #e4e4e4;
}

.fhq_quest_info_row {
	display: table-row;
	padding: 10px;
	margin: 10px;
}

.fhq_quest_info_cell_img {
	display: table-cell;
	width: 110px;
	padding: 10px;
	margin: 10px;
}

.fhq_quest_info_cell_content {
	display: table-cell;
	text-align: left;
	vertical-align: top;
	padding: 10px;
	margin: 10px;
}

.fhq_quest_caption {
	font-size: 15px;
}

.fhq_quest_score {
	font-size: 25px;
	text-align: center;
	padding: 10px;
}

.fhq_task_info {
	display: block;
	border-radius: 10px;
	margin: 12px;
	font-family: arial;
	padding: 10px;
	text-align: center;
	position: relative;
	min-width: 100px;
	width: 80%;
	background-color: #eee;
	cursor: pointer;
}

.fhq_task_info:hover{
	background-color: #e4e4e4;
}

font.fhq_task {
	display: block;
	color: #333;
}

.fhq_task_tryanswer {
	font-family: arial;
	padding: 2px;
}
