*.sql~
*.*~
config.php
php/fhq/files/*
manual.pdf
backend/freehackquestd
backend/etc/freehackquestd/conf.ini
www/config/*.json
www/composer.lock
www/vendor
# !www/vendor/.placeholder

backend/var/log/freehackquestd/errors/*
!backend/var/log/freehackquestd/errors/.placeholder

www/files/classbook/*.md
