
@font-face {
	font-family: Pompadur; /* Гарнитура шрифта */
	src: url(../fonts/font_for_captcha.ttf); /* Путь к файлу со шрифтом */
}
   
body.main
{
	background-color: #000000;
	color: #a9a9a9;
	font: 12pt/10pt Pompadur;
}

/*цвет ссылок */
body a:link
{
	color: #ffd4bd;
}

/*цвет посещенных ссылок */
body a:visited
{
	color: #ffd4bd;
}

#customers
{
  font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
  width:80%;
  border-collapse:collapse;
}

#customers td, #customers th 
{
  font-size:1.2em;
  border:0px solid #98b000;
  padding:3px 7px 2px 7px;
}

#customers th 
{
  font-size:1.4em;
  text-align:left;
  padding-top:5px;
  padding-bottom:4px;
  background-color:#A7C942;
  color:#fff;
}

#customers tr.alt td.alt
{
  color:#000;
  background-color:#EAF2D3;
}

#customers td.beginend 
{
  color:#000;
  background-color:#000;
}
