/*
	dark/styles/colors.css
*/

body.main
{
	background-color: #303030;
	color: #C8C8C8;
}

.button3 {
	background: #303030;
	color: #C8C8C8;
	background: #383838;
}

/* menu */
.fhq_btn_menu {
	background-color: #303030;
}

.fhq_btn_menu:hover {
	background: #606060;
	color: #C8C8C8;
}

.fhq_btn_menu_splitter {
	background-color: #303030;
}

.fhq_btn_menu_img {
}

.fhq_btn_menu_user_panel {
	background-color: #303030;
}

.fhq_menucolor {
	background: #3e3e3e;
}

/* modal dialog */

.overlay {
	background: rgba(0, 0, 0, 0.8);
}

.overlay_content {
	color: #C8C8C8;
	background-color: #303030;
	border-color: #3e3e3e;
}

/* tables */

#customers th {
    background-color: #3e3e3e;
    color: #C8C8C8;
}

#customers td, #customers th {
    border-color: #000;
}

#customers {
    border-collapse: collapse;
}

#customers tr.alt td {
    color: #C8C8C8;
    background-color: #3e3e3e;
}

.user_info_param {
    background-color: #3b3b3b;
    color: #C8C8C8;
}

.user_info_value {
    background-color: #4f4f4f;
    color: #C8C8C8;
}

input[type="text"], input[type="password"], select, textarea {
  background-color: #9f9f9f;
  color: #010101;
}

.hint--bottom:before {
    border-bottom-color: #6f3f3f;
}

.hint:after, [data-hint]:after {
    background-color: #6f3f3f;
    color: #C8C8C8;
    border-color: #6f3f3f;
}

hr {
	background-color: #6f3f3f;
	border-color: #6f3f3f;
}

pre {
    background-color: #4f3f3f;
    border: 1px solid rgba(0, 0, 0, 0.15);
}
code, pre {
    color: #C8C8C8;
}
