.button3 {
	display: inline-block;
	font-family: Tempus Sans ITC;
	background: #606060;
	padding: 3px;
	text-decoration: none;
	position:relative;
    color: #000000;
    margin:3px 3px 3px 3px;  
}

.button3-menu {
	display: inline;
	padding:8px 20px 8px 20px;
	 background:#fff;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.button3:before, .button3:after{
	font-family: Tempus Sans ITC;
	content:"";
    position:absolute;
    z-index:-2;
}

.button3:hover{
	text-decoration: none;
}

.button3:a {
	font-family: Tempus Sans ITC;
	font-size:16px;
	font-weight: bold;
}

.ad{	
	background: #ccc;
	padding: 8px;
	text-shadow: 0px;
}

.ad:hover {
	background: #606060;
	color: #fff;
	text-decoration: none;
}

.pum{
	visibility: hidden;
	background: #fff;
}

.adminka{
	padding: 9px;
	font-family: Times New Roman;
}
