/*
  base/styles/colors.css
  do nothing
*/

.fhq_task_info{
	display: inline-block;
	border-radius: 10px;
	margin: 12px;
	font-family: arial;
	background: #606060;
	padding: 10px;
	text-align: center;
	position:relative;
	min-width: 100px;
	background-color:#eee;
	cursor: pointer;
	border:2px solid #eee;
}

.fhq_task_info:hover{
	background-color:#e4e4e4;
	border:2px solid #ccc;
}

font.fhq_task {
	display: block;
	color: #333;
}
