.users_table {
	display: table;
}

.users_row {
	display: table-row;
	padding: 3px;
	text-decoration: none;
	color: #000000;
	margin:3px 3px 3px 3px;
}

.users_cell {
	display: table-cell;
	padding: 8px 20px 8px 20px;
	background: #cccccc;
	text-align: center;
	border: 2px solid black;
	vertical-align: middle;
}

.users_cell_logo {
	width: 100px;
	height: 100px;
}

.users_cell_text {
	
}

.selected_user_page {
	display: inline-block;
	color: #606060;
	background: none repeat scroll 0% 0% #CCC;
	padding: 8px;
	border-radius: 5px;
}


