
.fhqmodaldialog {
	visibility: hidden;
	position: fixed;
	z-index: 1000;
	background: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	text-align: center;
	overflow: auto;
	vertical-align: middle;
	-webkit-transition: transform 0.5s ease-out 0.5s;
	-moz-transition: transform 0.5s ease-out 0.5s;
	-o-transition: transform 0.5s ease-out 0.5s;
	transition: transform 0.5s ease-out 0.5s;
	transform: scale(0.05);
}

.fhqmodaldialog_table {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.fhqmodaldialog_cell {
	display: table-cell;
    vertical-align: middle;
    z-index: 1001;
}

.fhqmodaldialog_header{
	display: block;
	font: bold 150% sans-serif;
	text-align: center;
	border-bottom: 1px solid #C8C8C8;
	padding-bottom: 10px;
}

.fhqmodaldialog_buttons {
	padding-top: 10px;
	display: block;
	text-align: right;
	border-top: 1px solid #C8C8C8;
}

.fhqmodaldialog_content {
	position: relative;
	display: inline-block;
	color: #000000;
	padding: 15px;
	margin: 15px;
	background-color: #ffffff;
	border: 5px solid #606060;
	border-radius: 10px;
	min-height: 50px;
	min-width: 400px;
	max-height: 100%;
	max-width: 100%;
	/*overflow: auto;*/
	-moz-border-radius: 10px;  /* для firefox */
	-webkit-border-radius: 10px;  /* для Safari и Chrome */
	z-index: 1002;
}

.fhqmodaldialog_content2 {
	padding: 10px;
}

.fhqmodaldialog_btncancel {
	display: none;
}

.fhqmodaldialog_iconclose{
	position: absolute;
	top: -8;
	right: -8;
	background-image: url(../images/close.svg);
	width: 32px;
	height: 32px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
}
.fhqmodaldialog_iconclose:hover{
	
	cursor: pointer;
}

.fhqmodaldialog_iconfhq{
	position: absolute;
	top: -8;
	left: -8;
	background-image: url(../images/logo_32x32.png);
	width: 32px;
	height: 32px;
}

body {
	margin: 0;
	padding: 0;
	background-color: #FFFFFF;
	line-height:40px;
	font: 12pt/10pt Arial;
	color: #333333;	
	text-align: center;
	background: url(../images/background.png) no-repeat left top fixed;
}

.fhqbtn {
	display: inline-block;
	background: #ccc;
	padding: 8px;
	text-decoration: none;
	position:relative;
    color: #000000;
    margin:3px 3px 3px 3px;
    cursor: pointer;
    text-shadow: 0px;
    border-radius: 5px;
}

.fhqbtn:before, .fhqbtn:after{
	content: '';
    position: absolute;
    z-index:-2;
    text-decoration: none;
}

.fhqbtn:hover{
	background: #606060;
	color: #fff;
	text-decoration: none;
}

.hide{
	display: none;
}

.leftimg {
	float:left; /* Выравнивание по левому краю */
	margin: 7px 7px 7px 0; /* Отступы вокруг картинки */
}

.fhq-join-darkside {
    color: #333;
    text-decoration: underline;
    cursor: pointer;
    text-align: center;
}

.dark .fhq-join-darkside{
	color: #c8c8c8;
}

/* .dark .fhq-btn-menu-right, .dark .fhq-simple-btn, */

.fhq-topic {
    text-decoration: underline;
    font: 12pt/10pt Arial;
    font-size: 38.5px;
    line-height: 40px;
    height: 40px;
    padding-bottom: 10px;
    color: #303030;
    padding-top: 20px;
}

.single-line-value {
    display: inline-block;
    min-height: 25px;
    line-height: 25px;
    min-width: 100px;
}

.single-line-name {
    display: inline-block;
    min-height: 25px;
    line-height: 25px;
    font-weight: bold;
}

.single-line-preloader {
    min-height: 25px;
}

.single-line-value.preloading{
	background-image: url('../images/preloader.gif');
	background-repeat: no-repeat;
	background-position: center center;
}


#copyright {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background: #e4e4e4;
    padding: 5px;
    z-index: 100;
}

.fhqtopmenu_toppanel {
	background: #e4e4e4;
	position: fixed;
	display: inline-block;
	left: 0px;
	width: 100%;
	min-width: 1000px;
	opacity: 0.95;
	z-index: 555;
	text-align: center;
	height: 50px;
	border-bottom: 1px solid black;
}

.fhqtopmenu_toppanel_container{
	width: 80%;
    display: inline-block;
	text-align: left;
	padding-top: 5px;
}

.fhq-menu-logo{
	height: 40px;
    padding: 10px;
}

.fhq_btn_menu_color_none {
	background-color: inherit;
}

.fhq_btn_menu_color_none:hover {
	background: inherit;
}

.fhq_btn_menu_img {
	display: inline-block;
	vertical-align: middle;
	white-space: nowrap;
	height: 40px;
}

.user-logo{
	border-radius: 20px;
}

.fhq_btn_menu_user_panel {
	position: relative;
	float: right;
	padding: 5px;
	text-align: center;
	display: inline-block;
	transition: all 1s ease 0s;
	cursor: pointer;
	font: 12pt sans-serif;
	background-color: #ffffff;
	border-radius: 10px;
}

.account-panel{
	display: none;
	position: absolute;
	padding: 10px;
	width: 200px;
	margin-top: -50px;
	background-color: #e4e4e4;
	opacity: 0.95;
	text-align: left;
	margin-left: -10px;
}

#btnmenu_colorscheme{
	float: right;
	margin-right: 20px;
}

#btnmenu_user{
	text-align: left;
	float: right;
}

#btnmenu_user:hover .account-panel{
	display: block;
}

.account-panel:hover{
	display: block;
}

.account-panel .fhq-simple-btn{
    height: 30px;
    color: #333;
    text-decoration: underline;
    cursor: pointer;
    font: 10pt sans-serif;
    line-height: 30px;
    display: block;
    text-align: left;
    padding-left: 35px;
    margin-top: 5px;
}

.account-panel .fhq-simple-btn:hover{
	background: #c8c8c8;
	color: #333;
	text-decoration: none;	
}

.account-panel .border{
	border-top: 1px dashed #333;
	margin-top: 10px;
}

.fhq-quests{
	width: 80%;
}

.fhq-quests-subject{
	display: table;
	width: 100%;
	background-color: #eee;
	border-radius: 10px;
	cursor: pointer;
}

.fhq-quests-subject:hover{
	background: #c8c8c8;
    color: #333;
}

.dark .fhq-quests-subject:hover{
	background: #606060;
    color: #C8C8C8;
}

.dark .fhq-quests-subject{
	background-color: #494949;
}

.fhq-quests-subject .descr{
	font-size: 20px;
    font-style: italic;
}

.fhq-quests-subject-skip{
	height: 20px;
}

.fhq-quests-subject-row{
	display: table-row;
}

.fhq-quests-subject-cell{
	display: table-cell;	
}

.fhq-quests-subject-cell.logo{
	width: 110px;
	min-width: 110px;
    height: 110px;
    background-size: 100% 100%;
}

.fhq-quests-subject-cell.text{
	vertical-align: middle;
    font-size: 30px;
    text-align: left;
	padding-left: 20px;
}

.fhq-quests-subject-cell.count{
	vertical-align: middle;
    font-size: 30px;
    text-align: center;
    width: 300px;
}

.questslist, .toolslist, .fhqleftlist {
	float: left;
	display: inline-block;
	min-height: 100px;
	background-color: #e4e4e4;
	opacity: 0.95;
	margin-left: 0px;
	width: 300px;
	margin-bottom: 50px;
}

.questslist .icon, .toolslist .icon, .fhqleftlist .icon{
	width: 270px;
	height: 50px;
	background-repeat: no-repeat;
	background-position: 10px 10px;
	background-size: 50px 50px;
	padding: 10px;
	border-bottom: 1px dashed #3e3e3e;
	border-top: 1px solid #3e3e3e;
	text-align: right;
	font: 12pt/10pt Arial;
	font-size: 20px;
	line-height: 50px;
}

.fhqleftlist .filter{
	padding: 5px;
	text-align: right;
}

.toolslist .tools .icon{
	background-image: url("../images/menu/tools_150x150.png");
}

.fhqleftlist .classbook .icon{
	background-image: url("../images/menu/classbook_150x150.png");
}

.fhqleftlist .users .icon{
	background-image: url("../images/menu/users_150x150.png");
}

.fhqleftlist .quests .icon{
	background-image: url("../images/menu/quests_150x150.png");
}

.fhqleftlist .icon.admin {
	background-image: url("../images/quests/admin.png");
}

.fhqleftlist .icon.crypto {
	background-image: url("../images/quests/crypto.png");
}

.fhqleftlist .enjoy.icon{
	background-image: url("../images/quests/enjoy.png");
}

.fhqleftlist .icon.forensics{
	background-image: url("../images/quests/forensics.png");
}

.fhqleftlist .icon.hashes{
	background-image: url("../images/quests/hashes.png");
}

.fhqleftlist .icon.network{
	background-image: url("../images/quests/network.png");
}

.fhqleftlist .icon.ppc{
	background-image: url("../images/quests/ppc.png");
}

.fhqleftlist .icon.recon{
	background-image: url("../images/quests/recon.png");
}

.fhqleftlist .icon.reverse{
	background-image: url("../images/quests/reverse.png");
}

.fhqleftlist .icon.stego{
	background-image: url("../images/quests/stego.png");
}

.fhqleftlist .icon.trivia{
	background-image: url("../images/quests/trivia.png");
}

.fhqleftlist .icon.web{
	background-image: url("../images/quests/web.png");
}

.questslist.preloading{
	background-image: url('../images/preloader.gif');
	background-repeat: no-repeat;
	background-position: center center;
}

.questitem, .toolitem, .fhqleftitem {
	padding: 5px;
	cursor: pointer;
	padding-right: 15px;
	padding-left: 15px;
	width: 270px;
	text-align: left;
	background-color: #e4e4e4;
	-webkit-transition: width 0.5s ease-out 0s;
	-moz-transition: width 0.5s ease-out 0s;
	-o-transition: width 0.5s ease-out 0s;
	transition: width 0.5s ease-out 0s;
}

.questitem .name, .toolitem .name, .fhqleftitem .name{
	display: inline-block;
	width: 100px;
	text-align: left;
	white-space: nowrap;
	padding-right: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-transition: width 0.5s ease-out 0s;
	-moz-transition: width 0.5s ease-out 0s;
	-o-transition: width 0.5s ease-out 0s;
	transition: width 0.5s ease-out 0s;
}

.toolitem .name, .fhqleftitem .name {
	width: 270px;
}

.quests .fhqleftitem .name {
	width: 200px;
}

.quests .fhqleftitem.completed .name {
	text-decoration: line-through;
}

.quests .fhqleftitem .score{
	display: inline-block;
	width: 50px;
	text-align: right;
	float: right;
}

.quests .fhqleftitem.completed .score{
	text-decoration: line-through;
}

.questitem:hover , .toolitem:hover, .fhqleftitem:hover{
	background: #c8c8c8;
	color: #333;
	text-decoration: none;
	width: 370px;
}

.fhqleftitem:hover .name{
	width: 370px;
}

.toolitem:hover .name, .fhqleftitem:hover .name{
	width: 370px;
}

.quests .fhqleftitem:hover .name{
	width: 300px;
}


.fhqleftitem:hover{
	width: 370px;
}

.fhqinfo{
	display: inline-block;
}

.questinfo, .toolinfo, .fhqrightinfo{
	display: inline-block;
	min-height: 100px;
	width: calc(100% - 330px);
	left: 320px;
	position: fixed;
	text-align: left;
    height: calc(100% - 140px);
	overflow-y: auto;
}

.fhqrightinfo.center{
	text-align: center;
}

.questblock{
	margin: 8px;
	padding: 8px;
	border-radius: 5px;
	background: #e4e4e4;
	opacity: 0.95;
	display: inline-block;
	float: left;
}

.questblock .title{
	text-align: left;
	font: 12pt/10pt Arial;
	font-size: 20px;
	margin-bottom: 10px;
	border-bottom: 1px dashed #C8C8C8;
	padding-bottom: 10px;
}

.questblock .content{
	text-align: left;
	margin: 10px;
	font: 12pt/10pt Arial;
	line-height: 19px;
}

.fhqparamtbl_param {
    display: table-cell;
    padding: 8px 20px 8px 20px;
    background: #cccccc;
    text-align: right;
}

.fhqparamtbl_value {
    display: table-cell;
    background: #e4e4e4;
    padding: 8px 20px 8px 20px;
}

.fhqparamtbl {
    display: table;
}

.fhqparamtbl_row {
    display: table-row;
    padding: 3px;
    text-decoration: none;
    color: #000000;
    margin: 3px 3px 3px 3px;
}

pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 20px;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre;
    white-space: pre-wrap;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-right: 10px;
}

code, pre {
    padding: 0 3px 2px;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    font-size: 14px;
    color: #000000;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

a {
    color: #c83025;
    text-decoration: none;
}

select:focus, input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

select {
    width: 220px;
    border: 1px solid #cccccc;
    background-color: #ffffff;
}

select {
    height: 30px;
    *margin-top: 4px;
    line-height: 30px;
}

select, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    display: inline-block;
    padding: 4px 6px;
    margin-bottom: 0px;
    font-size: 14px;
    line-height: 20px;
    color: #555555;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    vertical-align: middle;
}

label, input, button, select {
    font-size: 14px;
    font-weight: normal;
    line-height: 25px;
}

button, input, select, textarea {
    margin: 0;
    font-size: 100%;
    vertical-align: middle;
    border: 1px solid #cccccc;
}

textarea {
    width: 550px;
    height: 150px;
    padding: 4px 6px;
    margin-bottom: 0px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    vertical-align: middle;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.fhqparamtbl_rowskip {
    display: table-row;
    background: inherit;
    height: 10px;
}

.fhqrules {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    line-height: 1.5;
    font-size: 12pt;
}

.fhqcell {
    width: 20%;
    display: table-cell;
    padding: 5px 5px 5px 5px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #9f9f9f;
}

.fhqrow {
    display: table-row;
    padding: 3px;
    text-decoration: none;
    margin: 3px 3px 3px 3px;
}

.fhqtable {
    display: table;
    width: 90%;
}

/* users.css */

.users_table {
	display: table;
}

.users_row {
	display: table-row;
	padding: 3px;
	text-decoration: none;
	color: #000000;
	margin:3px 3px 3px 3px;
}

.users_cell {
	display: table-cell;
	padding: 8px 20px 8px 20px;
	background: #cccccc;
	text-align: center;
	border: 1px solid black;
	vertical-align: middle;
}

.users_cell_logo {
	width: 100px;
	height: 100px;
}

.users_cell_text {
	
}

.selected_user_page {
	display: inline-block;
	color: #606060;
	background: none repeat scroll 0% 0% #CCC;
	padding: 8px;
	border-radius: 5px;
}

/* user panel by nitive */

.fhqbody .userpanel {
  text-align: left;
}
div.gamespanel__game,
div.gamespanel__arrow {
  margin: 0;
  float: none;
  min-height: auto;
}
.gamespanel svg,
.gamespanel__games,
.gamespanel__gameswrap {
  margin-left: 0;
}
.userpanel {
  height: 400px;
  width: 500px;
  border: 2px solid #424e4b;
  border-radius: 5px;
  /* fixed background color */
  /*background-color: #fbfbfb;*/ 
  margin: auto;
}
.userpanel__photo {
  float: left;
  margin: 25px 0 0 25px;
  box-sizing: border-box;
  border: 2px solid #50e3c2;
  border-radius: 7px;
  width: 100px;
  height: 100px;
}
.userpanel__title {
  font-weight: 500;
  margin: 30px 0 0 10px;
  display: inline-table;
  width: 360px;
}
.userpanel__info {
  display: inline-table;
  margin: 10px 20px;
}
.userpanel__games {
  height: 100px;
  margin-left: 18px;
  margin-top: 30px;
}
.gamespanel {
  width: 465px;
  font-size: 0;
}
.gamespanel__arrow {
  width: 25px;
  height: 100px;
  cursor: pointer;
}
.gamespanel__gameswrap {
  font-size: 0;
  display: inline-block;
  overflow: hidden;
  height: 100px;
}
.gamespanel__games {
  position: relative;
  display: inline-block;
  width: 415px;
  height: 100px;
  white-space: nowrap;
}
div.gamespanel__game {
  display: inline-block;
  background-size: cover;
  width: 100px;
  height: 100px;
  letter-spacing: 0;
  margin: 0 2px;
  border-radius: 50%;
}
div.gamespanel__game svg {
  cursor: default;
}
div.gamespanel__game p {
  font-size: 29px;
  cursor: default;
}
div.gamespanel__game p:before,
div.gamespanel__game p:after {
  content: '%';
  font-size: 10px;
}
div.gamespanel__game p:before {
  color: rgba(0,0,0,0);
}

.fhq_event_score {
	font-size: 18px;
	font-weight: bold;
	text-align: left;
	padding: 20px;
}

.fhq_feedback_text {
	font-size: 25px;
	text-align: left;
	padding: 10px;
}



/* games.css */

.fhq_game_img {
	width: 50px;
	height: 50px;
	float: left;
	vertical-align: middle;
	margin-right: 10px;
	
}

.fhq_game_line {
	display: block;
	vertical-align: middle;
	padding: 10px;
	/*background-color: #fff000;*/
	text-align: left;
	/*white-space: pre;*/	
	border-bottom: 1px solid #CCC;
	font-family: monospace;
	cursor: pointer;
}

.fhq_game_line:hover {
	background-color: #CCC;
}

.fhq_game_text {
	display: block-inline;
	white-space: nowrap;
	font-family: arial;
	margin-left: 10px;
	color: #606060;
}

.fhq_scoreboard_table {
	display: display: table;
	margin: 10px;
	vertical-align: top;
	padding-left: 200px;
    padding-right: 200px;
}

.fhq_scoreboard_table {
	display: display: table;
	margin: 10px;
	vertical-align: top;
}

.fhq_scoreboard_row {
	display: table-row;
	font-family: Arial;
	padding: 10px;
	text-decoration: none;
	color: #000000;
	margin:3px 3px 3px 3px;
	border-bottom: 1px solid #E4E4E4;
}

.fhq_scoreboard_cell {
	display: table-cell;
	padding: 10px;
	margin: 10px;
	text-align: left;
	border-left: 1px solid #E4E4E4;
}

/* quest_info.css */

.quest_info_table {
	display: table;
}

.quest_info_row {
	display: table-row;
	padding: 3px;
	text-decoration: none;
	margin:3px 3px 3px 3px;
}

.quest_info_row_admin {
  background: #cccccc;
}

.quest_info_row_skip {
	display: table-row;
	background: inherit;
	height: 20px;
}

.quest_info_param {
	display: table-cell;
	padding: 8px;
	text-align: right;
}

.quest_info_value {
	display: table-cell;	
	padding:8px;
	text-align: left;
}

/* overlay */


.overlay {
	visibility: hidden;
	/*visibility: visible;*/
	/*position: absolute;*/
	position: fixed;
	z-index: 1000;
	background: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	text-align: center;
	/*left: 0px;
	top: 0px;*/
	overflow: auto;
	vertical-align: middle;
}

.overlay_table {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.overlay_cell {
	display: table-cell;
    vertical-align: middle;
    z-index: 1001;
}

.overlay_header{
	padding: 10px;
	display: block;
	font: bold italic 110% serif;
	text-align: center;
	border-bottom: 1px solid #C8C8C8;
}

.overlay_buttons {
	padding: 10px;
	display: block;
	text-align: right;
	border-top: 1px solid #C8C8C8;
}

.overlay_content {
	display: inline-block;
	color: #000000;
	padding: 15px;
	margin: 15px;
	background-color: #ffffff;
	border: 5px solid #606060;
	border-radius: 10px;
	min-height: 50px;
	min-width: 400px;
	max-height: 100%;
	max-width: 100%;
	/*overflow: auto;*/
	-moz-border-radius: 10px;  /* для firefox */
	-webkit-border-radius: 10px;  /* для Safari и Chrome */	
}

/* quests.css */

.fhq_quest_info {
	display: inline-table;
	/* border: 1px solid black;*/
	border-radius: 10px;
	margin: 12px;
	font-family: arial;
	padding: 0px;
	text-align: center;
	min-width: 200px;
	background-color: #eee;
	cursor: pointer;
	opacity: 0.95;
}

.fhq_quest_info:hover{
	background-color: #e4e4e4;
}

.fhq_quest_info_row {
	display: table-row;
	padding: 10px;
	margin: 10px;
}

.fhq_quest_info_cell_img {
	display: table-cell;
	width: 110px;
	padding: 10px;
	margin: 10px;
}

.fhq_quest_info_cell_content {
	display: table-cell;
	text-align: left;
	vertical-align: top;
	padding: 10px;
	margin: 10px;
}

.fhq_quest_caption {
	font-size: 15px;
}

.fhq_quest_score {
	font-size: 25px;
	text-align: center;
	padding: 10px;
}

.fhq_task_info {
	display: block;
	border-radius: 10px;
	margin: 12px;
	font-family: arial;
	padding: 10px;
	text-align: center;
	position: relative;
	min-width: 100px;
	width: 80%;
	background-color: #eee;
	cursor: pointer;
}

.fhq_task_info:hover{
	background-color: #e4e4e4;
}

font.fhq_task {
	display: block;
	color: #333;
}

.fhq_task_tryanswer {
	font-family: arial;
	padding: 2px;
}

.newquestinfo_controls{
	text-align: left;
}

.newquestinfo_details{
	text-align: left;
}

.newquestinfo_details_title{
	font: 12pt/10pt Arial;
	font-size: 20px;
	line-height: 25px;
	border-bottom: 1px dashed #3e3e3e;
	margin-top: 15px;
	margin-bottom: 15px;
}

.dark .newquestinfo_details_title{
	border-color: #C8C8C8;
}

.newquestinfo-details-left{
	display: inline-table;
}

.newquestinfo-details-right{
	display: inline-table;
	margin-left: 50px;
}

.newquestinfo-details-row{
	display: table-row;
}

.newquestinfo-details-cell{
	display: table-cell;
	padding-right: 15px;
	padding-bottom: 5px;
}

.newquestinfo_description{
	text-align: left;
}

.newquestinfo_description_title{
	font: 12pt/10pt Arial;
	font-size: 20px;
	line-height: 25px;
	border-bottom: 1px dashed #3e3e3e;
	margin-top: 15px;
	margin-bottom: 15px;
}

.dark .newquestinfo_description_title{
	border-color: #C8C8C8;
}

.newquestinfo_attachments{
	text-align: left;
}

.newquestinfo_attachments_title{
	font: 12pt/10pt Arial;
	font-size: 20px;
	line-height: 25px;
	border-bottom: 1px dashed #3e3e3e;
	margin-top: 15px;
	margin-bottom: 15px;
}

.dark .newquestinfo_attachments_title{
	border-color: #C8C8C8;
}

.newquestinfo_passquest{
	text-align: left;
}

.newquestinfo_passquest_title{
	font: 12pt/10pt Arial;
	font-size: 20px;
	line-height: 25px;
	border-bottom: 1px dashed #3e3e3e;
	margin-top: 15px;
	margin-bottom: 15px;
}

#quest_pass_error{
	display: inline-block;
	padding-left: 15px;
}

.dark .newquestinfo_passquest_title{
	border-color: #C8C8C8;
}

/*
	darkstile
*/

body.dark
{
	background-color: #303030;
	color: #C8C8C8;
}


.dark .questitem:hover, .dark .toolitem:hover, .dark .fhqleftitem:hover{
	background: #c8c8c8;
	color: #333;
	text-decoration: none;
}

.dark .account-panel {
	background-color: #3E3E3E;
	color: #C8C8C8;
}

.dark .account-panel .fhq-simple-btn {
	background-color: #3E3E3E;
	color: #C8C8C8;
}

.dark .account-panel .border {
    border-top: 1px dashed #C8C8C8;
}

.dark .fhq_index_column {
	background-color: #3E3E3E;
	color: #C8C8C8;
}

.dark .button3 {
	background: #303030;
	color: #C8C8C8;
	background: #383838;
}

.dark .fhqbtn {
	background: #303030;
	color: #C8C8C8;
	background: #383838;
}

.dark .fhqparamtbl_param {
    background-color: #3b3b3b;
    color: #C8C8C8;
}

.dark .fhqparamtbl_value {
    background-color: #4f4f4f;
    color: #C8C8C8;
}

.dark .fhq-topic{
	color: #C8C8C8;
}


/* menu */
.dark .fhq_btn_menu_splitter {
	background-color: #303030;
}

.dark .fhq_btn_menu_img {
}

.dark .fhq_btn_menu_user_panel {
	background-color: #303030;
}

.dark .fhqtopmenu:hover {
    background-color: #3e3e3e;
} 

.dark .fhqleftmenu {
	background: #3e3e3e;
}

.dark .fhqtopmenu_rightpanel {
	background: #3e3e3e;
}

.dark .fhqtopmenu_toppanel {
	background: #3e3e3e;
}



/* modal dialog */

.dark .overlay {
	background: rgba(0, 0, 0, 0.8);
}

.dark .overlay_content {
	color: #C8C8C8;
	background-color: #303030;
	border-color: #3e3e3e;
}

.dark .fhqmodaldialog_content {
	color: #C8C8C8;
	background-color: #303030;
	border-color: #3e3e3e;
}

/* tables */

.dark #customers th {
    background-color: #3e3e3e;
    color: #C8C8C8;
}

.dark #customers td, #customers th {
    border-color: #000;
}

.dark #customers {
    border-collapse: collapse;
}

.dark #customers tr.alt td {
    color: #C8C8C8;
    background-color: #3e3e3e;
}

.dark input[type="text"], .dark input[type="password"], .dark select, .dark textarea {
  background-color: #9f9f9f;
  color: #010101;
}

.dark .questslist, .dark .toolslist, .dark .fhqleftlist{
	background-color: #3e3e3e;
}

.dark .questitem, .dark .toolitem, .dark .fhqleftitem {
	background-color: #3e3e3e;
}

.dark .questslist .icon, .dark .toolslist .icon, .dark .fhqleftlist .icon{
	border-color: #C8C8C8;
}

.dark .questblock{
	background-color: #3e3e3e;
}

.dark textarea[readonly] {
    background-color: #3e3e3e;
	color: #C8C8C8;
	border-color: #4e4e4e;
}

.dark .hint--bottom:before {
    border-bottom-color: #6f3f3f;
}

.dark .hint:after, .dark [data-hint]:after {
    background-color: #6f3f3f;
    color: #C8C8C8;
    border-color: #6f3f3f;
}

.dark hr {
	background-color: #6f3f3f;
	border-color: #6f3f3f;
}

.dark pre {
    background-color: #4f3f3f;
    border: 1px solid rgba(0, 0, 0, 0.15);
}
.dark code, .dark pre {
    color: #C8C8C8;
}

.dark .fhq_task_filters {
    background-color: #3E3E3E;
    color: #C8C8C8;
}

.dark .fhq_quest_info {
    background-color: #494949;
    color: #C8C8C8;
}

.dark .fhq_quest_info:hover{
	background-color: #4f4f4f;
}

.dark .fhq_task_info {
    background-color: #494949;
    color: #C8C8C8;
}

.dark .fhq_task_info:hover{
	background-color: #4f4f4f;
}

.dark font.fhq_task {
    color: #C8C8C8;
}


.dark .quest_info_row_admin {
    background-color: #494949;
}

.dark .fhq_scoreboard_row {
	color: #C8C8C8;
}

.dark .users_cell {
	color: #C8C8C8;
	background-color: #494949;
}

.dark .selected_user_page {
	color: #C8C8C8;
	background-color: #494949;
}

.dark #copyright{
	background-color: #3e3e3e;
	
}

.dark .fhqtopmenu_leftpanel {
    background: #3e3e3e;
}

.message_chat {
	background-color: #e4e4e4;
	position: fixed;
	z-index: 100;
	width: 250px;
	height: 50px;
	bottom: 50px;
	right: -300px;
	opacity: 0.95;
	border-radius: 10px;
	line-height: 50px;
	text-align: left;
	padding-left: 10px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	border: 1px solid #3e3e3e;
	transition: right 1.0s, bottom 0.5s;
	-webkit-transition: right 1.0s, bottom 0.5s, width 0.5s;
	cursor: url("../images/cursor/delete_dark.png"), auto;
}

.message_chat:hover{
	width: 500px;
}

.dark .message_chat {
	background-color: #3e3e3e;
	cursor: url("../images/cursor/delete_light.png"), auto;
	border: 1px solid #e4e4e4;
}

.message-chat-user{
	display: block;
	position: absolute;
	margin-top: -35px;
	font-size: 12px;
}

.sendchatmessage-form {
	opacity: 0.95;
	border-radius: 10px;
	position: fixed;
	bottom: 50px;
	z-index: 100;
	right: 25px;
	background-color: #e4e4e4;
	border: 1px solid #3e3e3e;
	padding: 10px;
	width: 250px;
}

.dark .sendchatmessage-form{
	background-color: #3e3e3e;
	border: 1px solid #e4e4e4;
}

.sendchatmessage-form input {
	margin-top: -18px;
	width: 200px;
}

.sendchatmessage-submit {
	background-image: url("../images/menu/chat_150x150.png");
	height: 30px;
	width: 30px;
	display: inline-block;
	background-repeat: no-repeat;
	background-size: 30px 30px;
	cursor: pointer;
	margin-left: 10px;
}

.scoreboard-user-tile{
	display: inline-block;
}


/* quests-list */

.fhq0001{
	display: table;
	width: 100%;
	background-color: #eee;
	border-radius: 10px;
    cursor: pointer;
}

.fhq0001:hover {
    background: #c8c8c8;
    color: #333;
}

.dark .fhq0001 {
    background-color: #494949;
}

.dark .fhq0001:hover {
	background: #606060;
    color: #C8C8C8;
}

.fhq0002{
	display: table-cell;
	width: 110px;
    min-width: 110px;
    height: 110px;
    max-height: 110px;
    background-image: url(../images/menu/quests_150x150.png);
	background-size: 100% 100%;
	border-radius: 10px;
}

.fhq0003{
	display: table-cell;
	font-size: 30px;
	vertical-align: middle;
	text-align: left;
    padding-left: 20px;
}

.fhq0004{
	display: inline-block;
	font-size: 20px;
    font-style: italic;
}

.fhq0005{
	width: 80%;
}

.fhq0006{
	width: 80%;
}

.fhq0007{
	display: table-cell;
	width: 300px;
	vertical-align: middle;
	font-size: 30px;
}

.fhq0008{
	display: table-row;
}

.fhq0009{
	display: block;
	width: 80%;
}

.fhq0010{
	display: table;
	width: 100%;
	text-align: left;
	background-color: #eee;
	border-radius: 10px;
}

.dark .fhq0010 {
    background-color: #3e3e3e;
}

.fhq0010 a:hover{
	text-decoration: inherit;
	border-bottom: 1px solid #c83025;
}

.fhq0011 {
	display: table-cell;
	width: 110px;
    height: 110px;
    background-repeat: no-repeat;
	background-size: 100% 100%;
    border-radius: 10px;
}

.fhq0012{
	display: table-row;
}

.fhq0013{
	display: table-cell;
	padding-top: 10px;
    padding-left: 20px;
}

.fhq0014{
	display: block;
	height: 40px;
	font: 12pt/10pt Arial;
	font-size: 30px;
    padding-top: 20px;
}

.fhq0015{
	height: 20px;
}

.fhq0016{
	width: 80%;
}

/* events.css */

.fhq0017 {
	display: inline-table;
	/* border: 1px solid black;*/
	border-radius: 10px;
	margin-bottom: 24px;
	font-family: arial;
	padding: 10px;
	text-align: center;
	min-width: 200px;
	width: 100%;
	background-color: #eee;
	opacity: 0.95;
}

.dark .fhq0017 {
    background-color: #494949;
    color: #C8C8C8;
}

.fhq0018 {
	display: table-row;
	padding: 10px;
	margin: 10px;
}

.fhq0019 {
	display: table-cell;
	width: 110px;
	height: 110px;
	background-size: 100% 100%;
	border-radius: 10px;
}

.fhq0020 {
	display: table-cell;
	vertical-align: middle;
    font-size: 17px;
    text-align: left;
	padding-left: 20px;
}

/* games list */

.fhq0021 {
	width: 80%;
}

.fhq0022 {
	display: block;
	padding-bottom: 20px;
}

.fhq0023 {
	display: table;
	width: 100%;
	background-color: #eee;
	border-radius: 10px;
}

.dark .fhq0023{
	background-color: #494949;
}

.fhq0024 {
	display: table-row;
}

.fhq0025{
	display: table-cell;
	width: 110px;
}

.fhq0026{
	display: table-cell;
	vertical-align: top;
    padding-left: 20px;
}

.fhq0027{
	text-align: left;
	font-size: 20px;
    font-style: italic;
}

.fhq0028{
	display: block;
	height: 20px;
}

.fhq0029{
	font-size: 30px;
    text-align: left;
    padding-top: 10px;
}

.fhq0030{
	width: 110px;
    height: 110px;
    border-radius: 10px;
    background-size: 100% 100%;
}

.fhq0031{
	white-space: pre;
	text-align: left;
	padding-top: 20px;
	padding-bottom: 20px;
}

.fhq0032{
	text-align: left;
}

.fhq0034{
	display: table;
    width: 100%;
    background-color: #eee;
	border-radius: 10px;
}

.dark .fhq0034{
	background-color: #494949;
}

.fhq0035{
	display: table-row;
}

.fhq0036{
	display: table-cell;
	width: 110px;
}

.fhq0037{
	display: table-cell;
	vertical-align: top;
	padding-left: 20px;
    text-align: left;
}

.fhq0038{
	width: 110px;
    height: 110px;
    background-size: 100% 100%;
    border-radius: 10px;
    border: 1px solid black;
}

.fhq0039{
	display: table;
    width: 100%;
    background-color: #eee;
	border-radius: 10px;
	margin-top: 20px;
}

.dark .fhq0039{
	background-color: #494949;
}

.fhq0040{
	background-color: #494949;
	height: 5px;
	margin-right: 20px;
	margin-bottom: 10px;
	border-radius: 10px;
	opacity: 0.5;
}

.dark .fhq0040{
	background-color: #eee;
}

.fhq0041 {
	display: inline-block;
	transition: all 1s ease 0s;
	cursor: pointer;
	text-align: center;
	border-radius: 10px;
	transition: 0s;
	color: #333;
	font: 12pt/10pt Arial;
	font-size: 15px;
	font-weight: bold;
	margin-left: 10px;
    margin-right: 10px;
}

.fhq0041:hover {
	color: #333;
	text-decoration: none;
}

.fhq0041:focus{
	text-decoration: none;
}

.dark .fhq0041 {
	color: #c8c8c8;
}

.dark .fhq0041:hover {
	color: #F8E8D8;
}

.fhq0042{
	float: right;
    margin-right: 20px;
    width: 40px;
    height: 40px;
    background-image: url(../images/menu/plus_150x150.png);
    background-size: 100% 100%;
}

.fhq0043{
	display: none;
	position: fixed;
    width: 100%;
    height: 100%;
    background-color: #e4e4e4;
    text-align: left;
    left: 0px;
    top: 0px;
    opacity: 0;
    cursor: default;
}

.fhq0044{
	display: none;
    position: absolute;
    background: #e4e4e4;
    margin-top: 50px;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5)
    cursor: default;
}

.dark .fhq0044 {
	background-color: #3e3e3e;
	box-shadow: 0 0 5px rgba(250,250,250,0.5)
}

.fhq0045{
	color: #333;
	cursor: pointer;
	padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
}

.fhq0045:hover{
	color: #373;
}

.dark .fhq0045{
	color: #c8c8c8;
}

.dark .fhq0045:hover{
	color: #F8E8D8;
}

.fhq0046{
	width: 550px;
    text-align: left;
}

.fhq0047{
    display: block;
	width: 550px;
	margin-bottom: 20px !important;
}

.fhq0048{
    display: block;
	width: 550px;
}

.fhq0049{
	display: none;
	width: 550px;
    text-align: center;
}

.fhq0050{
	display: inline-block;
    width: 50px;
    height: 15px;
    background-image: url(../images/preloader.gif);
}

.fhq0051 {
	text-align: left;
}

.fhq0052 {
}

.fhq0053{
	font: 12pt/10pt Arial;
	font-size: 20px;
	line-height: 25px;
	border-bottom: 1px dashed #3e3e3e;
	margin-top: 15px;
	margin-bottom: 15px;
}

.fhq0053.show{
	background-image: url(../images/hide_20x20.png);
	background-repeat: no-repeat;
	cursor: pointer;
	padding-left: 25px;
	background-position: 0px 5px;
}

.fhq0053.hide{
	display: block;
	background-image: url(../images/show_20x20.png);
	background-repeat: no-repeat;
	cursor: pointer;
	padding-left: 25px;
	background-position: 0px 5px;
}

.dark .fhq0053{
	border-color: #C8C8C8;
}

.fhq0054{
	width: 80%;
}

.fhq0055{

}

.fhq0056{
	padding-top: 10px;
}

.fhq0057{
	width: 80%;
}

.fhq0058{
	display: table;
	width: 100%;
}

.fhq0059{
	display: table-row;
    padding: 3px;
    text-decoration: none;
    margin: 3px 3px 3px 3px;
}

.fhq0060{
	
}

.fhq0060 .fhq0003{
	text-decoration: line-through;
}

.fhq0061{
	width: 20%;
    display: table-cell;
    padding: 5px 5px 5px 5px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #9f9f9f;
}


.fhq0062 .fhq0061{
    background-color: rgba(219, 106, 106, 0.8);
}

.fhq0063{
    padding-bottom: 15px;
    text-align: right;
}

.fhq0064{
	display: inline-block;
    background: #ccc;
    padding: 8px;
    text-decoration: none;
    position: relative;
    color: #000000;
    margin: 3px 3px 3px 3px;
    cursor: pointer;
    min-width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
}

.dark .fhq0064{
	color: #C8C8C8;
    background: #383838;
}

.fhq0064.fhq0065{
	background: none repeat scroll 0% 0% #CCC;
	border: 1px solid;
	cursor: default;
}

.dark .fhq0064.fhq0065 {
    color: #C8C8C8;
    background-color: #494949;
}

.fhq0065 {
	font-size: 15px;
}

.fhq0066{
	font-size: 15px;
    float: left;
    min-width: 25px;
    height: 25px;
    line-height: 25px;
    margin: 3px 3px 3px 3px;
	padding: 8px;
}

.fhq0067{
}
