
.fhqmodaldialog {
	visibility: hidden;
	position: fixed;
	z-index: 1000;
	background: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	text-align: center;
	overflow: auto;
	vertical-align: middle;
}

.fhqmodaldialog_table {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.fhqmodaldialog_cell {
	display: table-cell;
    vertical-align: middle;
    z-index: 1001;
}

.fhqmodaldialog_header{
	display: block;
	font: bold 150% sans-serif;
	text-align: center;
	border-bottom: 1px solid #C8C8C8;
	padding-bottom: 10px;
}

.fhqmodaldialog_buttons {
	padding-top: 10px;
	display: block;
	text-align: right;
	border-top: 1px solid #C8C8C8;
}

.fhqmodaldialog_content {
	position: relative;
	display: inline-block;
	color: #000000;
	padding: 15px;
	margin: 15px;
	background-color: #ffffff;
	border: 5px solid #606060;
	border-radius: 10px;
	min-height: 50px;
	min-width: 400px;
	max-height: 100%;
	max-width: 100%;
	/*overflow: auto;*/
	-moz-border-radius: 10px;  /* для firefox */
	-webkit-border-radius: 10px;  /* для Safari и Chrome */
	z-index: 1002;
}

.fhqmodaldialog_content2 {
	padding: 10px;
}

.fhqmodaldialog_btncancel {
	display: none;
}

.fhqmodaldialog_iconclose{
	position: absolute;
	top: -8;
	right: -8;
	background-image: url(../images/close.svg);
	width: 32px;
	height: 32px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
}
.fhqmodaldialog_iconclose:hover{
	
	cursor: pointer;
}

.fhqmodaldialog_iconfhq{
	position: absolute;
	top: -8;
	left: -8;
	background-image: url(../images/logo_32x32.png);
	width: 32px;
	height: 32px;
}

.fhqbody {
	margin: 0;
	padding: 0;
	background-color: #FFFFFF;
	line-height:40px;
	font: 12pt/10pt Arial;
	color: #333333;	
	text-align: center;
}

.fhqearth {
	background: url(../images/background.png) no-repeat left top fixed;
}

.fhqbtn {
	display: inline-block;
	background: #ccc;
	padding: 8px;
	text-decoration: none;
	position:relative;
    color: #000000;
    margin:3px 3px 3px 3px;
    cursor: pointer;
    text-shadow: 0px;
    border-radius: 5px;
}

.fhqbtn:before, .fhqbtn:after{
	content: '';
    position: absolute;
    z-index:-2;
    text-decoration: none;
}

.fhqbtn:hover{
	background: #606060;
	color: #fff;
	text-decoration: none;
}

.hide{
	display: none;
}

.leftimg {
	float:left; /* Выравнивание по левому краю */
	margin: 7px 7px 7px 0; /* Отступы вокруг картинки */
}

.fhq-join-darkside {
    color: #333;
    text-decoration: underline;
    cursor: pointer;
    text-align: center;
}

.dark .fhq-join-darkside{
	color: #c8c8c8;
}

/* .dark .fhq-btn-menu-right, .dark .fhq-simple-btn, */

.fhq-topic {
    text-decoration: underline;
    font: 12pt/10pt Arial;
    font-size: 38.5px;
    line-height: 40px;
    height: 40px;
    padding-bottom: 10px;
    color: #303030;
    padding-top: 20px;
}

.single-line-value {
    display: inline-block;
    min-height: 25px;
    line-height: 25px;
    min-width: 100px;
}

.single-line-name {
    display: inline-block;
    min-height: 25px;
    line-height: 25px;
    font-weight: bold;
}

.single-line-preloader {
    min-height: 25px;
}

.single-line-value.preloading{
	background-image: url('../images/preloader.gif');
	background-repeat: no-repeat;
	background-position: center center;
}


#copyright {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background: #e4e4e4;
    padding: 5px;
    z-index: 100;
}

.fhqtopmenu_toppanel {
	padding: 10px 20px 0px 20px;
	background: #e4e4e4;
	position: fixed;
	display: inline-block;
	left: 0px;
	width: 100%;
	min-width: 1000px;
	-webkit-border-bottom-right-radius: 15px;
	-moz-border-radius-bottomright: 15px;
	border-bottom-right-radius: 15px;
	opacity: 0.95;
	z-index: 555;
}

.fhq_btn_menu {
	padding: 5px;
	display: inline-block;
	transition: all 1s ease 0s;
	cursor: pointer;
	text-align: center;
	height: 40px;
	min-height: 40px;
	border-radius: 10px;
	margin-bottom: 5px;
	padding: 5px;
	vertical-align:middle;
	transition: 0s;
	color: #333;
	font: 12pt/10pt Arial;
	font-size: 20px;
	padding-right: 20px;
}

.fhq_btn_menu:hover {
	background: #c8c8c8;
	color: #333;
	text-decoration: none;
}

.fhq_btn_menu:focus{
	text-decoration: none;
}


.fhq_btn_menu_color_none {
	background-color: inherit;
}

.fhq_btn_menu_color_none:hover {
	background: inherit;
}

.fhq_btn_menu_img {
	display: inline-block;
	vertical-align: middle;
	white-space: nowrap;
	height: 40px;
}

.fhq_btn_menu_user_panel {
	position: relative;
	float: right;
	padding: 5px;
	text-align: center;
	display: inline-block;
	transition: all 1s ease 0s;
	cursor: pointer;
	font: 12pt sans-serif;
	background-color: #ffffff;
	border-radius: 10px;
}

.accout-panel{
	display: none;
	position: absolute;
	padding: 10px;
	width: 200px;
	margin-top: -50px;
	background-color: #e4e4e4;
	opacity: 0.95;
	text-align: left;
	margin-left: -10px;
}

#btnmenu_user:hover .accout-panel{
	display: block;
}

.accout-panel:hover{
	display: block;
}

.accout-panel .fhq-simple-btn{
    height: 30px;
    color: #333;
    text-decoration: underline;
    cursor: pointer;
    font: 10pt sans-serif;
    line-height: 30px;
    display: block;
    text-align: left;
    padding-left: 35px;
    margin-top: 5px;
}

.accout-panel .fhq-simple-btn:hover{
	background: #c8c8c8;
	color: #333;
	text-decoration: none;	
}

.accout-panel .border{
	border-top: 1px dashed #333;
	margin-top: 10px;
}

.questslist, .toolslist{
	float: left;
	display: inline-block;
	min-height: 100px;
	background-color: #e4e4e4;
	opacity: 0.95;
	margin-left: 0px;
	width: 200px;
}

.questslist .icon, .toolslist .icon{
	width: 170px;
	height: 50px;
	background-repeat: no-repeat;
	background-position: 10px 10px;
	background-size: 50px 50px;
	padding: 10px;
	border-bottom: 1px dashed #3e3e3e;
	border-top: 1px solid #3e3e3e;
	text-align: right;
	font: 12pt/10pt Arial;
	font-size: 20px;
	line-height: 50px;
}

.toolslist .tools .icon{
	background-image: url("../images/menu/tools_150x150.png");
}

.questslist .admin .icon{
	background-image: url("../images/quests/admin.png");
}

.questslist .crypto .icon{
	background-image: url("../images/quests/crypto.png");
}

.questslist .enjoy .icon{
	background-image: url("../images/quests/enjoy.png");
}

.questslist .forensics .icon{
	background-image: url("../images/quests/forensics.png");
}

.questslist .hashes .icon{
	background-image: url("../images/quests/hashes.png");
}

.questslist .network .icon{
	background-image: url("../images/quests/network.png");
}

.questslist .ppc .icon{
	background-image: url("../images/quests/ppc.png");
}

.questslist .recon .icon{
	background-image: url("../images/quests/recon.png");
}

.questslist .reverse .icon{
	background-image: url("../images/quests/reverse.png");
}

.questslist .stego .icon{
	background-image: url("../images/quests/stego.png");
}

.questslist .trivia .icon{
	background-image: url("../images/quests/trivia.png");
}

.questslist .web .icon{
	background-image: url("../images/quests/web.png");
}

.questslist.preloading{
	background-image: url('../images/preloader.gif');
	background-repeat: no-repeat;
	background-position: center center;
}

.questitem, .toolitem {
	padding: 5px;
	cursor: pointer;
	padding-right: 15px;
	padding-left: 15px;
	width: 170px;
	text-align: left;
	background-color: #e4e4e4;
	-webkit-transition: width 0.5s ease-out 0s;
	-moz-transition: width 0.5s ease-out 0s;
	-o-transition: width 0.5s ease-out 0s;
	transition: width 0.5s ease-out 0s;
}

.questitem .name, .toolitem .name{
	display: inline-block;
	width: 100px;
	text-align: left;
	white-space: nowrap;
	padding-right: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-transition: width 0.5s ease-out 0s;
	-moz-transition: width 0.5s ease-out 0s;
	-o-transition: width 0.5s ease-out 0s;
	transition: width 0.5s ease-out 0s;
}

.toolitem .name {
	width: 170px;
}

.questitem .score{
	display: inline-block;
	width: 50px;
	text-align: right;
}

.questitem:hover , .toolitem:hover{
	background: #c8c8c8;
	color: #333;
	text-decoration: none;
	width: 270px;
}

.questitem:hover .name, .toolitem:hover .name{
	width: 200px;
}

.toolitem:hover .name{
	width: 270px;
}

.questinfo, .toolinfo{
	display: inline-block;
	min-height: 100px;
	width: calc(100% - 220px);
	left: 220px;
	position: fixed;
}

.questblock{
	margin: 8px;
	padding: 8px;
	border-radius: 5px;
	background: #e4e4e4;
	opacity: 0.95;
	display: inline-block;
	float: left;
}

.questblock .title{
	text-align: left;
	font: 12pt/10pt Arial;
	font-size: 20px;
	margin-bottom: 10px;
	border-bottom: 1px dashed #C8C8C8;
	padding-bottom: 10px;
}

.questblock .content{
	text-align: left;
	margin: 10px;
	font: 12pt/10pt Arial;
	line-height: 19px;
}


/*
	darkstile
*/

.fhqbody.dark
{
	background-color: #303030;
	color: #C8C8C8;
}


.dark .questitem:hover, .dark .toolitem:hover{
	background: #c8c8c8;
	color: #333;
	text-decoration: none;
	width: 270px;
}

.dark .accout-panel {
	background-color: #3E3E3E;
	color: #C8C8C8;
}

.dark .accout-panel .fhq-simple-btn {
	background-color: #3E3E3E;
	color: #C8C8C8;
}

.dark .accout-panel .border {
    border-top: 1px dashed #C8C8C8;
}

.dark .fhq_index_column {
	background-color: #3E3E3E;
	color: #C8C8C8;
}

.dark .button3 {
	background: #303030;
	color: #C8C8C8;
	background: #383838;
}

.dark .fhqbtn {
	background: #303030;
	color: #C8C8C8;
	background: #383838;
}

.dark .fhqparamtbl_param {
    background-color: #3b3b3b;
    color: #C8C8C8;
}

.dark .fhqparamtbl_value {
    background-color: #4f4f4f;
    color: #C8C8C8;
}

.dark .fhq-topic{
	color: #C8C8C8;
}


/* menu */
.dark .fhq_btn_menu {
	color: #c8c8c8;
}

.dark .fhq_btn_menu:hover {
	background: #606060;
	color: #C8C8C8;
}

.dark .fhq_btn_menu_splitter {
	background-color: #303030;
}

.dark .fhq_btn_menu_img {
}

.dark .fhq_btn_menu_user_panel {
	background-color: #303030;
}

.dark .fhqtopmenu:hover {
    background-color: #3e3e3e;
} 

.dark .fhqleftmenu {
	background: #3e3e3e;
}

.dark .fhqtopmenu_rightpanel {
	background: #3e3e3e;
}

.dark .fhqtopmenu_toppanel {
	background: #3e3e3e;
}



/* modal dialog */

.dark .overlay {
	background: rgba(0, 0, 0, 0.8);
}

.dark .overlay_content {
	color: #C8C8C8;
	background-color: #303030;
	border-color: #3e3e3e;
}

.dark .fhqmodaldialog_content {
	color: #C8C8C8;
	background-color: #303030;
	border-color: #3e3e3e;
}

/* tables */

.dark #customers th {
    background-color: #3e3e3e;
    color: #C8C8C8;
}

.dark #customers td, #customers th {
    border-color: #000;
}

.dark #customers {
    border-collapse: collapse;
}

.dark #customers tr.alt td {
    color: #C8C8C8;
    background-color: #3e3e3e;
}

.dark input[type="text"], .dark input[type="password"], .dark select, .dark textarea {
  background-color: #9f9f9f;
  color: #010101;
}

.dark .questslist, .dark .toolslist{
	background-color: #3e3e3e;
}

.dark .questitem, .dark .toolitem {
	background-color: #3e3e3e;
}

.dark .questslist .icon, .dark .toolslist .icon{
	border-color: #C8C8C8;
}

.dark .questblock{
	background-color: #3e3e3e;
}

.dark textarea[readonly] {
    background-color: #3e3e3e;
	color: #C8C8C8;
	border-color: #4e4e4e;
}

.dark .hint--bottom:before {
    border-bottom-color: #6f3f3f;
}

.dark .hint:after, .dark [data-hint]:after {
    background-color: #6f3f3f;
    color: #C8C8C8;
    border-color: #6f3f3f;
}

.dark hr {
	background-color: #6f3f3f;
	border-color: #6f3f3f;
}

.dark pre {
    background-color: #4f3f3f;
    border: 1px solid rgba(0, 0, 0, 0.15);
}
.dark code, .dark pre {
    color: #C8C8C8;
}

.dark .fhq_task_filters {
    background-color: #3E3E3E;
    color: #C8C8C8;
}

.dark .fhq_quest_info {
    background-color: #494949;
    color: #C8C8C8;
}

.dark .fhq_quest_info:hover{
	background-color: #4f4f4f;
}

.dark .fhq_task_info {
    background-color: #494949;
    color: #C8C8C8;
}

.dark .fhq_task_info:hover{
	background-color: #4f4f4f;
}

.dark font.fhq_task {
    color: #C8C8C8;
}


.dark .quest_info_row_admin {
    background-color: #494949;
}

.dark .fhq_scoreboard_row {
	color: #C8C8C8;
}

.dark .users_cell {
	color: #C8C8C8;
	background-color: #494949;
}

.dark .selected_user_page {
	color: #C8C8C8;
	background-color: #494949;
}

.dark .fhq_event_info {
    background-color: #494949;
    color: #C8C8C8;
}

.dark #copyright{
	background-color: #3e3e3e;
	
}

.dark .fhqtopmenu_leftpanel {
    background: #3e3e3e;
}
